<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Zairza Issue Register | Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!--Navigation Bar-->
    <div class="container-fluid" style="background-color:#2BBBAD">
       <div class="row">
          <nav class="navbar navbar-inverse" style="background-color:">
             <div class="navbar-header">
                <a class="navbar-brand" href="#">DASHBOARD</a>
             </div>
             <div class="navbar-header" style="float:right">
                <a class="navbar-brand" href="/logout">Logout</a>
             </div>
          </nav>
       </div>
       <div class="row text-center">
         <h3><b><u>DUE ISSUE LIST</u></b></h3>
       </div>
       <div class="row" style="margin-bottom:2%;margin-left:1%;margin-right:1%;margin-top:2%;">
         <table id="due-issue-list" class="display" width="100%">
           <thead>
             <th>Item</th>
             <th>Quantity</th>
             <th>Issued by</th>
             <th>Phone no.</th>
             <th>Issue date</th>
             <th>Issue verified by</th>
             <th></th>
             <th></th>
           </thead>
           <tbody>
             <%for(var i=0;i<issueList.length;i++){%>
               <tr>
                 <td><%= issueList[i].item%></td>
                 <td><%= issueList[i].quantity%></td>
                 <td><%= issueList[i].issued_by%></td>
                 <td><%= issueList[i].phone%></td>
                 <td><%= issueList[i].issue_date%></td>
                 <td><%= issueList[i].issue_verified_by%></td>
                 <td><button type="button" class="return-button btn btn-success" data-toggle="modal" data-id="<%= issueList[i]._id %>" data-target="#returnIssue">Return</button></td>
                 <td><button onclick="editme('<%=issueList[i].item%>',<%=issueList[i].quantity%>,'<%=issueList[i].issued_by%>',<%=issueList[i].phone%>,'<%=issueList[i].issue_date%>','<%=issueList[i].issue_verified_by%>','<%=issueList[i]._id%>')" type="button" class="return-button btn btn-primary" data-toggle="modal" data-id="<%= issueList[i]._id %>" data-target="#editIssue" >Edit</button></td>
               </tr>
               <% } %>
             </tr>
           </tbody>
         </table>
       </div>
       <div class="row text-center" style="margin-bottom:6%">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addIssue">Add New Issue</button>
      </div>

      <!-- Issues returned -->
      <div class="row text-center">
        <h3><b><u>ISSUE LIST</u></b></h3>
      </div>
      <div class="row" style="margin-bottom:2%;margin-left:1%;margin-right:1%;margin-top:2%;">
        <table id="issue-list" class="display" width="100%">
          <thead>
            <th>Item</th>
            <th>Quantity</th>
            <th>Issued by</th>
            <th>Phone no.</th>
            <th>Issue date</th>
            <th>Issue verified by</th>
            <th></th>
          </thead>
          <tbody>
            <%for(var i=0;i<issueList.length;i++){%>
              <tr>
                <td><%= issueList[i].item%></td>
                <td><%= issueList[i].quantity%></td>
                <td><%= issueList[i].issued_by%></td>
                <td><%= issueList[i].phone%></td>
                <td><%= issueList[i].issue_date%></td>
                <td><%= issueList[i].issue_verified_by%></td>
                <td><button type="button" class="return-button btn btn-danger" data-toggle="modal" data-id="<%= issueList[i]._id %>" data-target="#returnIssue">Delete</button></td>
              </tr>
              <% } %>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Add New Issue modal -->
      <div id="addIssue" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><h3>New Issue</h3></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action='/additem' method='POST'>
                <table width="100%">
                 <tr>
                   <th style="float:right">Item: </th>
                   <td><input type="text" name="item"></td>
                   <th style="float:right">Quantity: </th>
                   <td><input type="number" name="quantity"></td>
                 </tr>
                 <tr>
                   <td><font color="#ffffff">""</font>
                   </td>
                 </tr>
                 <tr>
                   <th>Issued by:</th>
                   <td><input type="text" name="issued_by"></td>
                   <th style="float:right">Phone no.:</th>
                   <td><input type="text" name="phone"></td>
                 </tr>
                 <tr>
                   <td><font color="#ffffff">""</font>
                   </td>
                 </tr>
                 <tr>
                   <th style="float:right">Date:</th>
                   <td><input type="date" name="issue_date"></td>
                   <th style="float:right">Verified by:</th>
                   <td><input type="text" name="issue_verified_by"></td>
                 </tr>
                 <tr>
                   <td><font color="#ffffff">""</font>
                   </td>
                 </tr>
               </table>
               <div class="modal-footer">
                 <input type="submit" value="Add Item" class="btn btn-primary">
               </div>
          </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Issue modal -->
      <div id="editIssue" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><h3>Edit Issue</h3></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action='/edititem' method='POST'>
                <table width="100%">
                 <tr>
                   <th style="float:right">Item: </th>
                   <td><input id="item" type="text" name="item"></td>
                   <th style="float:right">Quantity: </th>
                   <td><input id="quantity" type="number" name="quantity"></td>
                 </tr>
                 <tr>
                   <td><font color="#ffffff">""</font>
                   </td>
                 </tr>
                 <tr>
                   <th>Issued by:</th>
                   <td><input id="issued_by" type="text" name="issued_by"></td>
                   <th style="float:right">Phone no.:</th>
                   <td><input id="phone" type="text" name="phone"></td>
                 </tr>
                 <tr>
                   <td><font color="#ffffff">""</font>
                   </td>
                 </tr>
                 <tr>
                   <th style="float:right">Date:</th>
                   <td><input id="issue_date" type="date" name="issue_date"></td>
                   <th style="float:right">Verified by:</th>
                   <td><input id="issue_verified_by" type="text" name="issue_verified_by"></td>
                   <td><input type="hidden" name="edit_id" value="" id="edit_id"></td>
                 </tr>
                 <tr>
                   <td><font color="#ffffff">""</font>
                   </td>
                 </tr>
               </table>
               <div class="modal-footer">
                 <input type="submit" value="Submit" class="btn btn-primary">
               </div>
          </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Return issue modal -->
      <div id="returnIssue" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><h3>Return Issue</h3></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action='/returnitem' method='POST'>
                <table width="100%">
                 <tr>
                   <th style="float:right">Returned by: </th>
                   <td><input type="text" name="returned_by"></td>
                   <th style="float:right">Verified by:</th>
                   <td><input type="text" name="return_verified_by"></td>
                 </tr>
                 <tr>
                   <td><font color="#ffffff">""</font>
                   </td>
                 </tr>
                 <tr>
                   <th style="float:right">Date: </th>
                   <td><input type="date" name="return_date"></td>
                 </tr>
                 <tr>
                 <tr>
                   <th style="float:right"></th>
                   <td><input type="hidden" name="_id" value="" id="hidden-id-field"></td>
                 </tr>
                   <td><font color="#ffffff">""</font>
                   </td>
                 </tr>
                 <tr>
                   <td><font color="#ffffff">""</font>
                   </td>
                 </tr>
               </table>
               <div class="modal-footer">
                 <input type="submit" value="Return" class="btn btn-primary">
               </div>
          </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).on("click", ".return-button", function () {
     var returnId = $(this).data('id');
     console.log(returnId);
     $("#hidden-id-field").val( returnId );
    });
    $('#due-issue-list').DataTable();
    $('#issue-list').DataTable();
    $('#addIssue').modal('show')
    $('#returnIssue').modal('show')
    $('#editIssue').modal('show')

    function editme(item,quantity,issued_by,phone,issue_date,issue_verified_by,editid) {
      document.getElementById("item").value = item;
      document.getElementById("quantity").value = quantity;
      document.getElementById("issued_by").value = issued_by;
      document.getElementById("phone").value = phone;
      document.getElementById("issue_verified_by").value = issue_verified_by;
      document.getElementById("edit_id").value = editid;
      // document.getElementById("issue_date").value = issue_date;
    }
  </script>
</html>
